body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(5, 4, 4);
    color: rgb(255, 255, 255);
}

.unit-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 0 10px rgb(202, 200, 200);
}

.navbar {
    padding: 15px 25px;
    box-shadow: 0 0 5px rgb(202, 200, 200);
}

.logo {
    font-size: 2em;
    margin-left: 50px;
    font-weight: 900;
}

.logo span {
    color: aqua;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0px 25px;
}

a:hover {
    border-bottom: 2px solid white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgb(202, 200, 200);
    text-decoration: underline;
}

.input,
.select-unit {
    margin-bottom: 20px;
}

.input label,
.select-unit label {
    font-weight: bold;
}

.input input[type="number"],
.select-unit select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reset-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    transform: rotate(90deg);
    margin-bottom: -15px;
}

#shuffle {
    padding: 10px 15px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#calculated {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
}

.final-msg {
    text-align: center;
}

@media (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .navbar {
        padding: 10px;
    }
    
    .logo {
        margin-left: 10px;
        font-size: 1.5em;
    }
    
    .links a {
        font-size: 0.9em;
        margin: 10px 0;
        /* justify-content: space-evenly; */
        padding: 0px 10px;
       
    }
}
